<% content_for :title, "Todos los resultados encontrados" %>

<% if user_signed_in? && current_user.updated == 0 %>
    <nav id="update">
      <ul>
        <a class="message"><li>Favor de completar tu perfil al 100%, para lograr mejores resultados en la plataforma: </li></a>
        <a href="/users/edit" class="link">
          <li> Actualizar perfil</li>
        </a>
      </ul>
    </nav>
<% end %>

<p id="notice"><%= notice %></p>

<header id="head-dashboard">
  <div class="profile">
    <h1>
      Todos los inmuebles en <%= params[:type]%>
    </h1>
    <h2>
      <%= @publications.count%> inmuebles en <%= params[:type]%>
    </h2>
  </div>
</header>

<main id="cont-dashboard">
  <section class="cont">
  <% if @publications.empty? %>
      <h1>Lo sentimos aún no hay resultados de tu búsqueda. Intentalo en otro momento </h1>
      <% if user_signed_in? %>
        <%= link_to new_publication_path, :class => 'link-new-pub' do%>
          Agregar anuncio
        <%end%>
      <% else %>
        <%= link_to new_user_registration_path, :class => 'link-new-pub' do%>
          Agregar anuncio
        <%end%>
      <% end -%>
    <% end %>
  <% @publications.each do |publication| %>
    <%= link_to anuncio_path(publication) do%>  
    <% @avatar = User.where(:id => publication.user_id).first %>
    <% if @avatar %>          
      <article class="properties">
        <% @avatar = User.where(:id => publication.user_id).first %>
        <figure class="avatar"><%= image_tag @avatar.avatar, :alt => "Avatar", :title => "Avatar"%></figure>
        <% @image = Image.where(:publication_id => publication.id).first%>
        <% if @image == nil%>
          <figure class="img-con"><%= image_tag "default-no-image.png", :alt => "Condominio", :title => "Condominio"%></figure>
        <% else %>
          <figure class="img-con"><%= image_tag @image.url, :alt => "Condominio", :title => "Condominio"%></figure>
        <% end -%>
        <% if user_signed_in? && current_user.id == params[:id].to_f %>
          <div class="price">
            <%= link_to publication, :class => "icon-function" do%>
              <span class="ion-android-open"></span>
            <% end -%>
            <%= link_to edit_publication_path(publication), :class => "icon-function" do%>
              <span class="ion-android-create"></span>
            <% end -%>
            <%= link_to publication, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el registro?' }, :class => "icon-function" do%>
              <span class="ion-android-delete"></span>
            <% end -%>
          </div>
        <% else %>
          <div class="price">
            $<%= number_with_delimiter(publication.price) %>
          </div>
        <% end -%>
        <div class="content">
          <h1 class="title"><%= publication.title %></h1>
          <ul class="cont-info">
            <% Ubication.where(:publication_id => publication.id).each do |ubication|%>
              <li><span class="ion-location"></span> <%= ubication.town %></li>
            <% end %>
            <%if publication.type_add == "Bodega" || publication.type_add == "Terreno" %>
              <li><span class="ion-ios-home"></span> <%= publication.type_add %></li>
              <li>Dimenciones: <%= publication.size %>m2</li>
            <%else%>
              <li><span class="ion-ios-home"></span> <%= publication.type_add %></li>
              <li><span class="icon-room"></span> <%= publication.rooms %></li>
              <li><span class="icon-bathroom"></span> <%= publication.bathrooms %></li>
            <% end -%>
          </ul>
        </div>
      </article>
    <% end -%>
    <% end -%>
  <% end -%>
   </section>
 </main>