<!-- <p id="notice"><%= notice %></p>

<h1>Listing Ubications</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th>Town</th>
      <th>Street</th>
      <th>Number out</th>
      <th>Number in</th>
      <th>Colony</th>
      <th>Postal</th>
      <th>Publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubications.each do |ubication| %>
      <tr>
        <td><%= ubication.country %></td>
        <td><%= ubication.city %></td>
        <td><%= ubication.town %></td>
        <td><%= ubication.street %></td>
        <td><%= ubication.number_out %></td>
        <td><%= ubication.number_in %></td>
        <td><%= ubication.colony %></td>
        <td><%= ubication.postal %></td>
        <td><%= ubication.publication %></td>
        <td><%= link_to 'Show', ubication %></td>
        <td><%= link_to 'Edit', edit_ubication_path(ubication) %></td>
        <td><%= link_to 'Destroy', ubication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubication', new_ubication_path %>
 -->