<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @ubication.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @ubication.city %>
</p>

<p>
  <strong>Town:</strong>
  <%= @ubication.town %>
</p>

<p>
  <strong>Street:</strong>
  <%= @ubication.street %>
</p>

<p>
  <strong>Number out:</strong>
  <%= @ubication.number_out %>
</p>

<p>
  <strong>Number in:</strong>
  <%= @ubication.number_in %>
</p>

<p>
  <strong>Colony:</strong>
  <%= @ubication.colony %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @ubication.postal %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @ubication.publication %>
</p>

<%= link_to 'Edit', edit_ubication_path(@ubication) %> |
<%= link_to 'Back', ubications_path %>
